<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- <typeAliases> 
        <typeAlias alias="User" type="com.yihaomen.mybatis.model.User"/> 
    </typeAliases>  -->
    <settings>
    	<setting name="logImpl" value="LOG4J2"/>
    </settings>
    <environments default="development">
        <environment id="development">
        <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://127.0.0.1:3306/alanard"/>
            <property name="username" value="alanard"/>
            <property name="password" value="YGh@84067631"/>
            </dataSource>
        </environment>
    </environments>
	
    <mappers>
        <mapper resource="alanard/models/mappers/xml/user.xml"/>
    </mappers>
</configuration>